.Person{
    background-color:   rgb(255, 248, 236);
    filter: drop-shadow(1px 0px 20px  rgb(236, 229, 218));
    margin: 15px auto;
    padding: 25px;
    text-align: center;
    width: 80%;
    border-radius: 8px;
   
    
}